* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-collapse {
  justify-content: center;
}
@media (max-width: 768px) {
  .header{
    height: auto;
    background-color: black;
  }
  .navbar-nav {
    text-align: center;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .navbar ul li a {
    padding: 5px;
    font-size: 18px;
  }
}
