.navbar {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    justify-content: center;
  }
  
@media (max-width: 768px) {
  .navbar {
    height: auto;
    /* background-color: #fff; */
  }
  .navbar-nav {
    text-align: center;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .navbar ul li a {
    padding: 5px;
    font-size: 18px;
  }
}
