.sideNav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  overflow: auto;
  position: static;
}
@media (max-width: 768px) {
  /* .sideNav{
    display: none;
  } */
}